<!-- !!! ОПИСАНИЕ ИДЕТ ПЕРЕД ПРЕДМЕТОМ ОПИСАНИЯ, А НЕ ПОСЛЕ -->

<!-- структура построена с использованием тэгов -->
<!-- как правило элементы имеют 2 тэга: открывающий и закрывающий -->
<!-- между этими тэгами можно объявлять дочерние элементы, которые будут находиться внутри родительского элемента -->

<!-- лого и название приложения -->
<!-- class="app-title" - устанавливаем элементу h1 CSS-класс app-title, который объявлен в файле app.component -->
<h1 class="app-title">
  <!-- Объявляем картинку (лого) и задаем аттрибуты (свойства) -->
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKhlEmkCOUDcDJKXIjtMGOwRVUMVgUEhBsD0sMON_7fUmrk0wG&s"
    alt="Note"
    width="24px"
    height="24px"
  />
  NotesApp
</h1>

<!-- 3 колонки приложения -->
<div class="tiles">
  <!-- 1-я колонка - форма для создания новых Заметок -->
  <div>
    <h2 class="tile-title">New Note</h2>

    <form class="note-form">
      <div class="fields">
        <div>
          <!-- Ввод Имени Заметки -->
          <!-- [(ngModel)]="titleInput" - [()] - "банан в коробке" - связь с переменной (см. titleInput в ts-файле) в обе стороны
               (подробности показаны ниже на более простых случаях) -->
          <!-- placeholder="Note title" -  -->
          <!-- [maxlength]="titleMaxLength" - ограничение на макс. кол-во символов = titleMaxLength -->
          <!-- [ ] - связь сверху вниз - из контроллера (ts-файл) в шаблон (html-файл) / от родителя к ребенку,
                т.е. мы передаем из текущего файла внутрь input значение (titleMaxLength) для maxlength -->
          <input
            [(ngModel)]="titleInput"
            name="titleInput"
            placeholder="Note title"
            [maxlength]="titleMaxLength"
          />

          <!-- блок с информацией о текущем и максимальном кол-вах символов -->
          <!-- Свойство length у string / массива - кол-во символов / элементов -->

          <div class="max-char">
            <!-- {{ }} - механизм для отображения переменных внутри шаблона (html-файла)
                (обрати внимание на отличия {{ }} и [ ] ) -->
            {{ titleInput.length }} / {{ titleMaxLength }}
          </div>
        </div>

        <div>
          <!-- Ввод Описания Заметки -->
          <textarea
            [(ngModel)]="descriptionInput"
            name="descriptionInput"
            placeholder="Note description"
            [maxlength]="descriptionMaxLength"
          ></textarea>
          <div class="max-char">
            {{ descriptionInput.length }} / {{ descriptionMaxLength }}
          </div>
        </div>
      </div>

      <div>
        <!-- Кнопка добавления Заметки с привязанным на клик мыши методом addNote (из ts-файла) -->
        <!-- ( ) - связь снизу вверх - из шаблона (html-файл) в контроллер (ts-файл) / от ребенка к родителю,
              т.е. при клике на кнопку происходит событие (event, в данном случае клик), которое передается наверх
              и наш компонент (текущий файл) его принимает выполняет метод добавления Заметки -->
        <button
          mat-raised-button
          class="submit-button"
          (click)="addNote(titleInput, descriptionInput)"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <!-- 2-я колонка - список существующих Заметок -->
  <div>
    <h2 class="tile-title">Note List</h2>
    <div class="notes-list">
      <!-- Создаем HTML-элемент заметки для каждой Заметки в массиве notes (из ts-файла) -->
      <!-- *ngFor - "структурная директива" фреймворка, создающая HTML-элемент для каждого элемента массива,
            доступ к Заметке и её свойствам и методам осуществляется через template-переменную note -->
      <!-- Обрати внимание, что событие можно привязать не только к кнопке -->
      <div
        class="notes-list__note"
        (click)="selectNote(note)"
        *ngFor="let note of notes"
      >
        <!-- note - template-переменная, существующая только внутри этого HTML-элемента (div с классом notes-list__note)
         и содержащая в себе данные каждой конкретной Заметки -->
        <p>{{ note.title }}</p>

        <!-- В кач-ве параметра метода удаления передаем Заметку (note), чтобы было понятно, какую Заметку надо удалить
             (альтернативно можно было передать note.id) -->
        <button
          mat-raised-button
          class="delete-button"
          (click)="deleteNote(note)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- 3-я колонка - отображение выбранной Заметки -->
  <div>
    <h2 class="tile-title">Note Description</h2>
    <div class="note-description">
      <!-- отображение названия выбранной в данный момент заметки -->
      <!-- selectedNote?.title - вопросительный знак для проверки на существование selectedNote, чтобы избежать ошибку, если в данный момент нет выбранной Заметки -->
      <h4>{{ selectedNote?.title }}</h4>

      <!-- отображение описания выбранной в данный момент заметки -->
      <p>
        <!-- тренарная функция - ЕСЛИ_УСЛОВИЕ ? ЗНАЧЕНИЕ_ЕСЛИ_TRUE : ЗНАЧЕНИЕ_ЕСЛИ_FALSE -->
        {{ selectedNote ? selectedNote?.description : "No note selected." }}
      </p>
    </div>
  </div>
</div>
