<h1>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKhlEmkCOUDcDJKXIjtMGOwRVUMVgUEhBsD0sMON_7fUmrk0wG&s"
    alt="Note"
    width="24px"
    height="24px"
  />NotesApp
</h1>

<mat-grid-list cols="3" rowHeight="2:3" gutterSize="10px">
  <mat-grid-tile>
    <b><mat-grid-tile-header>New Note</mat-grid-tile-header></b>
    <form class="note-form" (submit)="addNote(titleInput, descriptionInput)">
      <mat-form-field id="title" class="full-width" appearance="outline">
        <input
          [(ngModel)]="titleInput"
          name="titleInput"
          type="text"
          matInput
          placeholder="Note title"
          maxlength="50"
        />
        <mat-hint align="end">{{ titleInput.length }} / 50</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <textarea
          [(ngModel)]="descriptionInput"
          name="descriptionInput"
          matInput
          placeholder="Note description"
          maxlength="256"
        ></textarea>
        <mat-hint align="end">{{ descriptionInput.length }} / 256</mat-hint>
      </mat-form-field>

      <button mat-raised-button type="submit" class="submit-button">
        Submit
      </button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile>
    <b><mat-grid-tile-header>Note List</mat-grid-tile-header></b>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let note of notes">
        <button
          mat-raised-button
          class="card-button"
          (click)="selectNote(note)"
        >
          <p style="min-height: 20px; vertical-align: middle; text-align: left">
            {{ note.title }}
            <button
              mat-raised-button
              class="delete-button"
              (click)="deleteNote(note)"
            >
              Delete
            </button>
          </p>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <b><mat-grid-tile-header>Note Description</mat-grid-tile-header></b>
    <div class="note-description">
      <h4>{{ selectedNote?.title }}</h4>
      <p>
        {{ selectedNote ? selectedNote?.description : "No note selected." }}
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
