@import "src/assets/styles/variables";

:host {
  height: 100%;
}

.sections {
  box-sizing: border-box;
  height: calc(100% - #{$app-title-height});
  padding: 10px;
  display: flex;
  gap: 10px;

  > * {
    flex: 1 1 0px;
    background: #fafafa;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
  }
}
