/* You can add global styles to this file, and also import other style files */

// Как написано выше, в этом файле объявляются глобальные стили, т.е. стили будут попадать в любой компонент.
// Неправильное испольпользование этого файла может приводить к непреднамеренному затеканию стиля в свой компонент
// (например, если в styles и в своем компоненте объявлены правила тех же самых элементов / классы имеют одинаковые имена)

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// для любого (*) элемента
* {
  // убрать дефолтные отступы
  padding: 0px;
  margin: 0px;
}
